<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/Assets/css/about.css" type="text/css">

<% include partials/header %>

<div class="container">
    <div class="head-container">
        <h2 class="page-header dark-text">About</h2>
        <div class="page-header-line"></div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="image-container"></div>
                <div class="wrapper content">
                    <h4>Scott Selke | Web Developer and Designer</h4>
                    <p>I currently work on many personal projects for friends, family, and myself. These projects range from
                        simple web API's, WordPress blogs, and fully functioning multimedia websites. I have a host of tools
                        that I use for Development (HTML, CSS, SASS, JS, jQuery, NodeJS, PHP, ExpressJS, Angular, React,
                        Bootstrap, Semantic-UI), and Design (Photoshop, Illustrator, Sketch).</p>
                    <p>During highschool I took every Photoshop, Design and Programming class available. After graduating in
                        2015, I started my Associates degree at Mesa Community College where I studied Computer Science.
                        While in college I started to learn web development for a personal side project of mine that required
                        a user interface and API integration. Since January 2017, I have been crafting my skills in web development
                        that have finally gotten me to the point that I am ready to turn my hobby into a career!</p>
                    <a href="/contact">
                        <button type="button" class="btn btn-outline-dark btn-lg">Contact Scott</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<% include partials/footer %>
