<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/Assets/css/main.css">

    <% include partials/header %>

    <div class="head-container">
        <h1 style="margin: 30px 40px 30px 40px;">
            Hi, my name is Scott. I am a Full-Stack
            <br>Web Developer and Designer located in Tempe, Arizona.
        </h1>
        
        <hr>
    </div>

<div class="container">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h6>Hello</h6>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <div class="jumbotron">
                <h6>Hello</h6>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="jumbotron">
                <h6>Hello</h6>
            </div>
        </div>
        <div class="col-md-4 col-xs-12">
            <div class="jumbotron">
                <h6>Hello</h6>
            </div>
        </div>
    </div>
</div>



<% include partials/footer %>