<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/Assets/css/portfolio.css">

    <% include partials/header %>

    <div class="head-container">
        <h2 class="page-header dark-text">Portfolio</h2>
        <div class="page-header-line"></div>
    </div>

    <div class="grid">
        <div class="box" style="background: red">A</div>
        <div class="box" style="background: blue">B</div>
        <div class="box" style="background: green">C</div>
        <div class="box" style="background: purple">D</div>
    </div>
<% include partials/footer %>