<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/Assets/css/portfolio.css">

    <% include partials/header %>

    <div class="head-container">
        <h2 class="page-header dark-text">Portfolio</h2>
        <div class="page-header-line"></div>
    </div>

    <div class="container">
        <div class="row card-row">
            <div class="col card-col">
                <div class="card" style="background: red !important"></div>
            </div>
            <div class="col card-col">
                <div class="card"></div>
            </div>
        </div>
    </div>
<% include partials/footer %>