<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/Assets/css/resources.css">

<% include partials/header %>

<div class="head-container">
    <h2 class="page-header dark-text">Resources</h2>
    <div class="page-header-line"></div>
</div>

<div class="container resources-container">
    <div class="row">
        <div class="col-md-3 col-sm-6">
            <div id="comment_bubble">
                <i class="far fa-lightbulb resource-icon light"></i>
            </div>
            <h4>Intiutive</h4>
            <p>
                Easy to use and understand for all ages.
            </p>
        </div>
        <div class="col-md-3 col-sm-6">
            <div id="comment_bubble">
                <i class="fas fa-desktop resource-icon resource-icon-two"></i>
                <i class="fas fa-mobile-alt resource-icon resource-icon-two"></i>
            </div>
            <h4>Responsive</h4>
            <p>
                Built to look and feel great on any screen size.
            </p>
        </div>
        <div class="col-md-3 col-sm-6">
            <div id="comment_bubble">
                <i class="fas fa-space-shuttle resource-icon resource-icon-shuttle"></i>
                <i class="fab fa-gripfire resource-icon resource-icon-fire flame"></i>
            </div>
            <h4>Dynamic</h4>
            <p>
                Websites should be fun to view! Boring static website just don't cut it.
            </p>
        </div>
        <div class="col-md-3 col-sm-6">
            <div id="comment_bubble">
                <i class="fas fa-cogs resource-icon resource-icon-cog"></i>
            </div>
            <h4>Intelligent</h4>
            <p id="description">
                Front-end and Back-end designed to co-operate with each other perfectly.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-12" style="margin-top: 40px;">
            <div class="container">
                <div class="container">
                    <div class="hexagon">
                        <h3>
                            <i class="fas fa-toolbox resource-icon-toolbox"></i>
                        </h3>
                    </div>
                </div>
                <h2 style="margin-top: 130px;">My Developer Tool-box</h2>
                <p>
                    Everyday I am always learning about new Technologies that better improve my sites and development process.
                    As a developer, I have many tools under my belt that enable me to create responsive and functional websites.
                    For most projects I use Code Virtual Studio as my go-to IDE, and for bigger projects or collabs I use Cloud 9 
                    IDE to speed up the development process.
                    Every website that I create runs through <a href="https://loadimpact.com/">Load Impact</a> to check for 
                    loading times, <a href="https://www.getpostman.com/">Postman</a> to check link functionality, and a host 
                    of other resources to get the job done; some of which include 
                    (<a href="https://github.com/heyalexej/awesome-images">Awesome Images</a>, <a href="fonts.google.com">Google Fonts</a>, <a href="sselke.codepen.io">Code Pen</a>).
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <aside class="clearfix">
                <div class="skills clearfix">
                    <ul class="lines">
                        <li class="line l--0">
                            <span class="line__label title">
                                Skill level:
                            </span>
                        </li>
                        <li class="line l--33">
                            <span class="line__label">
                                The basics
                            </span>
                        </li>
                        <li class="line l--66">
                            <span class="line__label">
                                Advanced
                            </span>
                        </li>
                        <li class="line l--100">
                            <span class="line__label">
                                Seasoned
                            </span>
                        </li>
                    </ul>
            
                    <div class="charts">
                        <div class="chart chart--dev">
                            <span class="chart__title">Development</span>
                            <ul class="chart--horiz">
                                <li class="chart__bar" id="html" style="width: 80%;">
                                    <span  class="chart__label white">
                                        HTML5
                                    </span>
                                </li>
                                <div class="click--me">
                                    <li class="chart__bar" id="css" style="width: 80%;">
                                        <span  class="chart__label white">
                                            CSS3
                                        </span>
                                    </li>
                                </div>
                                <li class="chart__bar" id="sass" style="width: 66%;">
                                    <span  class="chart__label white">
                                        SCSS
                                    </span>
                                </li>
                                <li class="chart__bar" id="java" style="width: 70%;">
                                    <span  class="chart__label white">
                                        JavaScript
                                    </span>
                                </li>
                                <li class="chart__bar" id="angular" style="width: 40%;">
                                    <span  class="chart__label white">
                                        AngularJS
                                    </span>
                                </li>
                                <li class="chart__bar" id="react" style="width: 33%;">
                                    <span  class="chart__label white">
                                        ReactJS
                                    </span>
                                </li>
                                <li class="chart__bar" id="jquery" style="width: 50%;">
                                    <span  class="chart__label white">
                                        jQuery
                                    </span>
                                </li>
                                <li class="chart__bar" id="node" style="width: 66%;">
                                    <span  class="chart__label white">
                                        NodeJS
                                    </span>
                                </li>
                                <li class="chart__bar" id="php" style="width: 33%;">
                                    <span  class="chart__label white">
                                        PHP
                                    </span>
                                </li>
                                <li class="chart__bar" id="mongo" style="width: 66%;">
                                    <span  class="chart__label white">
                                        MongoDB
                                    </span>
                                </li>
                                <li class="chart__bar" id="mysql" style="width: 33%;">
                                    <span  class="chart__label white">
                                        MySQL
                                    </span>
                                </li>
                            </ul>
                        </div>
            
                        <div class="chart chart--prod">
                            <span class="chart__title">Productivity</span>
                            <ul class="chart--horiz">
                                <li class="chart__bar" id="git" style="width: 66%;">
                                    <span class="chart__label white">
                                        Git + Github
                                    </span>
                                </li>
                                <li class="chart__bar" id="ms" style="width: 70%;">
                                    <span class="chart__label white">
                                        Microsoft Office
                                    </span>
                                </li>
                            </ul>
                        </div>
            
                        <div class="chart chart--design">
                            <span class="chart__title">Design</span>
                            <ul class="chart--horiz">
                                <li class="chart__bar" id="photoshop" style="width: 33%;">
                                    <span class="chart__label white">
                                        Photoshop
                                    </span>
                                </li>
                                <li class="chart__bar" id="illustrator" style="width: 40%;">
                                    <span class="chart__label white">
                                        Illustrator
                                    </span>
                                </li>
                                <li class="chart__bar" id="ux" style="width: 66%;">
                                    <span class="chart__label white">
                                        User Experience
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
</div>


<% include partials/footer %>