<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-120089347-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-120089347-1');
    </script>

    <link rel="stylesheet" href="/Assets/css/resources.css">

<% include partials/header %>

<div class="head-container">
    <h2 class="page-header dark-text">Resources</h2>
    <div class="page-header-line"></div>
</div>

<div class="container resources-container">
    <div class="row">
        <div class="col-lg-6 col-md-12" style="margin-bottom: 40px;">
            <div class="container">
                <div class="container">
                    <div class="hexagon">
                        <h3>
                            <i class="fas fa-toolbox resource-icon-toolbox"></i>
                        </h3>
                    </div>
                </div>
                <h2 style="margin-top: 130px;">My Developer Tool-box</h2>
                <p class="left-justify">
                    Everyday I am always learning about new Technologies that better improve my sites and development process.
                    As a developer, I have many tools under my belt that enable me to create responsive and functional websites.
                    For most projects I use Code Virtual Studio as my go-to IDE, and for bigger projects or collabs I use Cloud 9 
                    IDE to speed up the development process.
                    Every website that I create runs through <a href="https://loadimpact.com/">Load Impact</a> to check for 
                    loading times, <a href="https://www.getpostman.com/">Postman</a> to check link functionality, and a host 
                    of other resources to get the job done; some of which include 
                    (<a href="https://github.com/heyalexej/awesome-images">Awesome Images</a>, <a href="fonts.google.com">Google Fonts</a>, <a href="sselke.codepen.io">Code Pen</a>).
                </p>
            </div>
        </div>
        <div class="col-lg-6 col-md-12">
            <aside class="clearfix">
                <div class="skills clearfix">
                    <ul class="lines">
                        <li class="line l--0">
                            <span class="line__label title">
                                Skill level:
                            </span>
                        </li>
                        <li class="line l--33">
                            <span class="line__label">
                                The basics
                            </span>
                        </li>
                        <li class="line l--66">
                            <span class="line__label">
                                Advanced
                            </span>
                        </li>
                        <li class="line l--100">
                            <span class="line__label">
                                Seasoned
                            </span>
                        </li>
                    </ul>
            
                    <div class="charts">
                        <div class="chart chart--dev">
                            <span class="chart__title">Development</span>
                            <ul class="chart--horiz">
                                <li class="chart__bar" id="html" style="width: 80%;">
                                    <span  class="chart__label white">
                                        HTML5
                                    </span>
                                </li>
                                <div class="click--me">
                                    <li class="chart__bar" id="css" style="width: 80%;">
                                        <span  class="chart__label white">
                                            CSS3
                                        </span>
                                    </li>
                                </div>
                                <li class="chart__bar" id="sass" style="width: 66%;">
                                    <span  class="chart__label white">
                                        SCSS
                                    </span>
                                </li>
                                <li class="chart__bar" id="java" style="width: 70%;">
                                    <span  class="chart__label white">
                                        JavaScript
                                    </span>
                                </li>
                                <li class="chart__bar" id="angular" style="width: 80%;">
                                    <span  class="chart__label white">
                                        ExpressJS
                                    </span>
                                </li>
                                <li class="chart__bar" id="angular" style="width: 40%;">
                                    <span  class="chart__label white">
                                        AngularJS
                                    </span>
                                </li>
                                <li class="chart__bar" id="react" style="width: 33%;">
                                    <span  class="chart__label white">
                                        ReactJS
                                    </span>
                                </li>
                                <li class="chart__bar" id="jquery" style="width: 50%;">
                                    <span  class="chart__label white">
                                        jQuery
                                    </span>
                                </li>
                                <li class="chart__bar" id="node" style="width: 66%;">
                                    <span  class="chart__label white">
                                        NodeJS
                                    </span>
                                </li>
                                <li class="chart__bar" id="php" style="width: 33%;">
                                    <span  class="chart__label white">
                                        PHP
                                    </span>
                                </li>
                                <li class="chart__bar" id="mongo" style="width: 66%;">
                                    <span  class="chart__label white">
                                        MongoDB
                                    </span>
                                </li>
                                <li class="chart__bar" id="mysql" style="width: 33%;">
                                    <span  class="chart__label white">
                                        MySQL
                                    </span>
                                </li>
                            </ul>
                        </div>
            
                        <div class="chart chart--prod">
                            <span class="chart__title">Productivity</span>
                            <ul class="chart--horiz">
                                <li class="chart__bar" id="git" style="width: 66%;">
                                    <span class="chart__label white">
                                        Git + Github
                                    </span>
                                </li>
                                <li class="chart__bar" id="ga" style="width: 50%;">
                                    <span class="chart__label white">
                                        Google Analytics
                                    </span>
                                </li>
                                <li class="chart__bar" id="ms" style="width: 70%;">
                                    <span class="chart__label white">
                                        Microsoft Office
                                    </span>
                                </li>
                            </ul>
                        </div>
            
                        <div class="chart chart--design">
                            <span class="chart__title">Design</span>
                            <ul class="chart--horiz">
                                <li class="chart__bar" id="photoshop" style="width: 33%;">
                                    <span class="chart__label white">
                                        Photoshop
                                    </span>
                                </li>
                                <li class="chart__bar" id="illustrator" style="width: 40%;">
                                    <span class="chart__label white">
                                        Illustrator
                                    </span>
                                </li>
                                <li class="chart__bar" id="ux" style="width: 66%;">
                                    <span class="chart__label white">
                                        User Experience
                                    </span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>
    <div class="row" style="margin-top: 40px;">
        <div class="col-md-3 col-sm-6">
            <div id="comment_bubble">
                <i class="far fa-lightbulb resource-icon light"></i>
            </div>
            <h4>Intiutive</h4>
            <p>
                Easy to use and understand for all ages.
            </p>
        </div>
        <div class="col-md-3 col-sm-6">
            <div id="comment_bubble">
                <i class="fas fa-desktop resource-icon resource-icon-two"></i>
                <i class="fas fa-mobile-alt resource-icon resource-icon-two"></i>
            </div>
            <h4>Responsive</h4>
            <p>
                Built to look and feel great on any screen size.
            </p>
        </div>
        <div class="col-md-3 col-sm-6">
            <div id="comment_bubble">
                <i class="fas fa-space-shuttle resource-icon resource-icon-shuttle"></i>
                <i class="fab fa-gripfire resource-icon resource-icon-fire flame"></i>
            </div>
            <h4>Dynamic</h4>
            <p>
                Websites should be fun to view! Boring static website just don't cut it.
            </p>
        </div>
        <div class="col-md-3 col-sm-6">
            <div id="comment_bubble">
                <i class="fas fa-cogs resource-icon resource-icon-cog"></i>
            </div>
            <h4>Intelligent</h4>
            <p id="description">
                Front-end and Back-end designed to co-operate with each other perfectly.
            </p>
        </div>
    </div>

    <hr>

    <h3 style="margin: 40px auto;">Other Important Skills</h3>

    <div class="row">
        <div class="col-md-4 col-sm-12">
            <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="list-home-list" data-toggle="list" href="#list-home" role="tab"
                    aria-controls="home">Analytics</a>
                <a class="list-group-item list-group-item-action" id="list-profile-list" data-toggle="list" href="#list-profile" role="tab"
                    aria-controls="profile">Communication</a>
                <a class="list-group-item list-group-item-action" id="list-messages-list" data-toggle="list" href="#list-messages" role="tab"
                    aria-controls="messages">Team Work</a>
                <a class="list-group-item list-group-item-action" id="list-settings-list" data-toggle="list" href="#list-settings" role="tab"
                    aria-controls="settings">Goals</a>
            </div>
        </div>
        <div class="col-md-8 col-sm-12 content">
            <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="list-home" role="tabpanel" aria-labelledby="list-home-list">
                    <p class="left-justify">
                        Data collection and analysis is a key function of my job at State-Farm. We constantly measure ourselves, and our fellow
                        Team-mates to ensure that we are making an effective impact on the company. I also personally use Google Analytics to 
                        assist a friend of mine with the status his email marketing, and funneling campaign which greatly improved his customers sales and public footprint.
                    </p>
                </div>
                <div class="tab-pane fade" id="list-profile" role="tabpanel" aria-labelledby="list-profile-list">
                    <p class="left-justify">
                        Another great tool that I have learned at my time working for State-Farm is communication. Although we operate as a individuals
                        on the sales floor, interacting with one another and sharing information is crucial for making sure we are doing the job correctly.
                    </p>
                </div>
                <div class="tab-pane fade" id="list-messages" role="tabpanel" aria-labelledby="list-messages-list">
                    <p class="left-justify"> 
                        Team-work definitely makes the dream work. All puns aside, being able to get along and cooperate with your fellow peers and leadership is a must.
                        I have always been taught that the easiest and most effective way to complete a goal is to work and collaborate with others.
                    </p>
                </div>
                <div class="tab-pane fade" id="list-settings" role="tabpanel" aria-labelledby="list-settings-list">
                    <p class="left-justify">
                        From the very beginning of every project I do whether it be school related or for work, I always start off with a clear and achievable goal in view.
                        I find the most effective way to accomplish a goal is to modularize it into smaller sections; I will start off with a simple End-Goal and then break 
                        it into smaller branches that are easier to visualize and help me succeed in the long run.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>


<% include partials/footer %>