@import "header_footer";

.image-container{
    margin: 0 auto 24px auto;
    height: 400px;
    width: 400px;
    background: url('../../images/me.jpeg') no-repeat;
    background-size: 400px 400px;
}
.wrapper{
    max-width: 535px;
    margin: 0 auto 100px auto;
    
    & > p{
        text-align: justify;
        font-size: $font-normal;
    }

    & > a{
        display: block;
        text-align: center;
        margin: 20px auto 0 auto;

        & > button{
            width: 50%;
        }
    }
}