@import "header_footer";


.contact-container{
    margin: 50px auto 100px auto !important;

    & > h1{
        margin: 50px auto;
    }
}

.form-container{
    margin: auto;
    width: 50%;
    min-width: 400px;
}

.form-group{
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}